{% extends 'main.html' %} {% block content %}

<div class="yolo">
  <h1 class="one" id="animated-text">Welcome to the graduation page</h1>
</div>

<script>
  const textElement = document.getElementById("animated-text");
  const text = textElement.innerText;
  const words = text.split(" ");

  textElement.innerHTML = "";

  words.forEach((word, index) => {
    const span = document.createElement("span");
    span.className = "word";
    span.style.animationDelay = `${index * 0.3}s`;
    span.innerText = word + " ";
    textElement.appendChild(span);
  });
</script>

{% endblock %}
