{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="img-day-container">
    <h1>All Uploaded Photos</h1>

    <a href="{% url 'images' %}" class="img-view-link">Upload More Photos</a>

    {% if images %}
    <div class="img-gallery">
        {% for image in images %}
        <div class="img-card">
            <img src="{{ image.photo.url }}" alt="Photo">
            {% if image.description %}
            <p>{{ image.description }}</p>
            {% endif %}
            <small>{{ image.uploaded_at|date:"M d, Y H:i" }}</small>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="img-empty">No photos uploaded yet.</p>
    {% endif %}
</div>
{% endblock %}
