{% load static %}

<nav class="navbar">
    <div class="nav-container">

        <a href="{% url 'home' %}">
            <img src="{% static 'images/graduation.png' %}" alt="Graduation Logo">
        </a>

        <ul class="nav-menu">
           {% if not user.is_authenticated %}
                <li><a href="{% url 'link' %}">Messages</a></li>
            {% else %}
                <li><a href="{% url 'chat' %}">Messages</a></li>
            {% endif %}

            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="{% url 'all' %}">Images of the Day</a></li>
            <li><a href="{% url 'initiate_payment' %}">Payments</a></li>
            
            {% if user.is_authenticated %}
            <li>
                <form method="post" action="{% url 'logout' %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" style="background:none;border:none;color:#fff;cursor:pointer;">
                        Logout
                    </button>
                </form>
            </li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}

        </ul>

        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>

    </div>
</nav>
