{% extends 'main_footer.html' %} {% load static %} {% block content %}

<h1>{% if message %}Edit{% else %}Create{% endif %} Message</h1>
<form method="post">
  {% csrf_token %} {% if not message %}
  <label>User:</label>
  <select name="user">
    {% for user in users %}
    <option value="{{ user.id }}">{{ user.username }}</option>
    {% endfor %}</select
  ><br />
  {% endif %}
  <label>Content:</label>
  <textarea name="content">
{% if message %}{{ message.content }}{% endif %}</textarea
  ><br />
  <button type="submit">Save</button>
</form>

{% endblock %}
